.spacer {
    flex: 1 1 auto;
}

.containers {
    width: 95%;
    padding-left: 5%;
}

.title {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 2%;
}

#formField {
    width: 95%;
    margin-left: 2%;
}