@mixin cards {
    mat-card {
        max-width: 25vw;
        margin-right: 3%;
        margin-top: 2%;
    }
    
    img {
        object-fit: none;
        width: 90%;
        // height: 50%;
        margin: auto;
        // margin-right: 0;
    }
    
    #cardContainer {
        margin: auto;
        padding-left: 6.5%;
    }
    
    @media(max-width: 720px) {
        #cardContainer {
            margin: 1% 0;
            padding-left: 0;  
        }
    
        mat-card {
            width: 45vw;
            margin-right: 1%;
        }
    
        .container-fluid {
            padding: 0 5px;
        }
    }    
}