<app-header></app-header>
<div id="container" class="container-fluid">
    <div class="help">
        <mat-form-field class="w-75" appearance="legacy">
            <mat-label>Seleccione una mesa</mat-label>
            <mat-select [disableOptionCentering]="true" [(ngModel)]="this.selectedTable">
                <mat-option *ngFor="let mesa of this.mesas" [value]="mesa">Mesa {{mesa.id}}</mat-option>
            </mat-select>
        </mat-form-field>
        <app-file-upload [message]="'Subir foto de la mesa'" [displayUploadedFoto]="false" (fileSelected)="saveTablePhoto($event)"></app-file-upload>
    </div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Menu</mat-panel-title>
                <mat-panel-description>Seleccione los alimentos a ordenar</mat-panel-description>
            </mat-expansion-panel-header>
            <app-products-menu-table (updatedMenu)="this.updatePedido($event)"></app-products-menu-table>
        </mat-expansion-panel>
    </mat-accordion>
    <button id="orderButton" mat-raised-button [disabled]="this.disableButton || this.validateInformation()" color="accent" (click)="this.orderFood()">Hacer pedido</button>
    <mat-progress-bar *ngIf="this.sendingData == true" color="primary" mode="query"></mat-progress-bar>
    <app-pdf-generator [objects]="this.menu" [fileName]="'menu'" [cols]="['ID', 'Nombre', 'Tipo', 'Precio']"></app-pdf-generator>
</div>