.help {
    display: flex;
}

app-file-upload {
    bottom: 1rem;
    position: relative;
    margin-left: 3%;
}

#container {
    width: 95%;
    margin: auto;
}

#orderButton {
    width: 100%;
    text-align: center;
    color: white;
    margin: 3% 0;
}