div {
    background: #379fee;
    // height: auto;
    // padding: 1% 0%;
    div {
        color: white;
        top: 19%;
        position: relative;
        left: 3%;
        font-size: 1.5rem;
    }
}